<a href="https://colab.research.google.com/github/Nathan-oc/Estudos-DSNP/blob/main/Introdu%C3%A7%C3%A3o_ao_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introdução ao Pandas**

  `Pandas` é a principal bilbioteca do Python quando estamos falando de Data Science. 
  
  Com ela é possível importar base de dados (arquivos `csv` e `xlsx`, por exemplo), tratar/limpar esses dados, transformá-los e realizar análises completas dos mesmos. 

  Uma vez que importamos um conjunto de dados utilizando o Pandas, fica muito simples fazer coisas do tipo:
  * Extrair informações estatísticas como:
    * Qual é a média, mediana, valores máximos e mínimos?
    * Qual é a distribuição das variáveis?
    * Qual é a correlação entre duas variáveis quaisquer?
  * Exportar os dados para um novo formato de arquivo.
  * Visualizar gráficos dos mais diferentes tipos.
  * Alimentar modelos de *machine learning* feitos em cima de `scikit-learn` ou alguma outra biblioteca.


O Pandas é construído em cima de outra biblioteca muito famosa, a bibliteca `Numpy`, devido a isso, aquela possui grandes similaridades com essa.

---
## Importando a biblioteca

Para podermos utilizar precisamos instalar a bibioteca no computador, caso o uso seja em alguma IDE da máquina local. Porém, como estamos utilizando *Google Colab*, a bilblioteca já está instalado e precisamos apenas importar para esse notebook.

In [141]:
import pandas as pd

---
## Obtendo dados

* ### Importação a partir de arquivos

Para dar um exemplo de como podemos facilmente importar arquivos, baixei uma planilha em .csv do preço diário da ação da Petrobrás, *PETR3.SA*, no site [Yahoo Finance](https://finance.yahoo.com/quote/PETR3.SA/history?p=PETR3.SA) e disponibilizei [neste link](https://raw.githubusercontent.com/Nathan-oc/Estudos-DSNP/main/M%C3%B3dulo%202/PETR3.SA.csv?token=GHSAT0AAAAAAB4Q3V22HSOLHCWE4AQRIG6YY5HJTSQ).

Agora vamos importar facilmente essa base de dados para nosso notebook a partir do link na web (pode ser o endereço na máquina local também).

In [142]:
df = pd.read_csv("https://raw.githubusercontent.com/Nathan-oc/Estudos-DSNP/main/M%C3%B3dulo%202/PETR3.SA.csv")

Com isso temos a base de dados importada para o nosso notebook.

* ### Criação a partir de variáveis já existentes

Podemos também converter um objeto do Python como uma lista ou dicionário em um dataframe a partir da função `pd.DataFrame`

* ### Salvar arquivos

Além disso, podemos salvar o arquivo para algum local com a função `pd.to_filetype(filename)`

In [143]:
df.to_csv("PETR3.csv")

---
## Componentes básicos do Pandas

Os dois principais componentes do Pandas são  `Dataframe` e `Series`. Simplificadamente podemos pensar o primeiro como a planilha inteira dos dados, enquanto o segundo é apenas uma coluna dessa planilha.  

Essas duas estrututuras apesar de serem simples, elas facilitam muito o trabalho com dados, uma vez que podem armazenar qualquer tipo de dados (como int, float, string, data, lista etc).

In [144]:
# ver o tipo da variável df
type(df)

pandas.core.frame.DataFrame

In [145]:
# ver o tipo de uma coluna do dataframe
type(df['Date'])

pandas.core.series.Series

## Conhecendo os dados

* ###  Visualização rápida


Vamos dar uma olhada nos dados com `df.head()` e `df.tail()` pois é muito importante termos noção qual é a "cara" dos dados que estamos lidando:

In [146]:
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2021-12-27  30.440001  31.230000  30.240000  31.040001  19.029440  17868100
1  2021-12-28  31.260000  31.469999  31.000000  31.059999  19.041702   8078000
2  2021-12-29  31.010000  31.340000  30.750000  30.950001  18.974266  11460950
3  2021-12-30  30.950001  31.129999  30.549999  30.700001  18.821001  34157000
4  2022-01-03  30.840000  31.670000  30.760000  31.520000  19.323711  15578500

In [147]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
245,2022-12-19,24.900000,25.639999,24.690001,25.549999,25.549999,12963900
246,2022-12-20,25.530001,26.340000,25.420000,26.170000,26.170000,15549900
247,2022-12-21,26.559999,26.860001,25.910000,26.860001,26.860001,20946900
248,2022-12-22,27.100000,27.719999,26.680000,27.170000,27.170000,14139200
249,2022-12-23,27.389999,28.600000,27.320000,28.559999,28.559999,12490700

* ### Informações do dataframe

Vamos agora extrair algumas informações subjacentes do DataFrame a partir das seguintes funções:


* `df.shape`: retorna o número de linhas e colunas
* `df.index`: retorna as labels das linhas
* `df.columns`: retorna os nomes das colunas
* `df.dtypes`: retorna os tipos de cada coluna
* `df.info()`: retorna informações de tipos de objeto, valores não ausentes e uso da memória a respeito do dataframe
* `df.select_dtypes(include=None, exclude=None)`: retorna o dataframe apenas com os tipos de dados selecionados (int, float, data, string, Bool etc)
* `df.values`: retorna um array dos valores do dataframe
* `df.axes`: retorna os nomes/labels/rótulos das colunas e linhas 
* `df.ndim`: retorna o número dimensões do data frame (geralmente é 2 mas por exemplo uma série possui uma dimensão
* `df.size`: retorna o número de elementos do dataframe, geralmente é o produto do número de linhas pelo número de colunas (se não houver valores ausentes)
* `df.empty`: retorna um booleano indicando se é um dataframe vazio ou não

In [148]:
df.shape

(250, 7)

In [149]:
df.index

RangeIndex(start=0, stop=250, step=1)

In [150]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [151]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       250 non-null    object
 1   Open       250 non-null    float64
 2   High       250 non-null    float64
 3   Low        250 non-null    float64
 4   Close      250 non-null    float64
 5   Adj Close  250 non-null    float64
 6   Volume     250 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.8+ KB

In [153]:
df.select_dtypes(exclude=int)

           Date       Open       High        Low      Close  Adj Close
0    2021-12-27  30.440001  31.230000  30.240000  31.040001  19.029440
1    2021-12-28  31.260000  31.469999  31.000000  31.059999  19.041702
2    2021-12-29  31.010000  31.340000  30.750000  30.950001  18.974266
3    2021-12-30  30.950001  31.129999  30.549999  30.700001  18.821001
4    2022-01-03  30.840000  31.670000  30.760000  31.520000  19.323711
..          ...        ...        ...        ...        ...        ...
245  2022-12-19  24.900000  25.639999  24.690001  25.549999  25.549999
246  2022-12-20  25.530001  26.340000  25.420000  26.170000  26.170000
247  2022-12-21  26.559999  26.860001  25.910000  26.860001  26.860001
248  2022-12-22  27.100000  27.719999  26.680000  27.170000  27.170000
249  2022-12-23  27.389999  28.600000  27.320000  28.559999  28.559999

[250 rows x 6 columns]

In [154]:
df.values

array([['2021-12-27', 30.440001, 31.23, ..., 31.040001, 19.02944,
        17868100],
       ['2021-12-28', 31.26, 31.469999, ..., 31.059999, 19.041702,
        8078000],
       ['2021-12-29', 31.01, 31.34, ..., 30.950001, 18.974266, 11460950],
       ...,
       ['2022-12-21', 26.559999, 26.860001, ..., 26.860001, 26.860001,
        20946900],
       ['2022-12-22', 27.1, 27.719999, ..., 27.17, 27.17, 14139200],
       ['2022-12-23', 27.389999, 28.6, ..., 28.559999, 28.559999,
        12490700]], dtype=object)

In [155]:
df.axes

[RangeIndex(start=0, stop=250, step=1),
 Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')]

In [156]:
df.ndim

2

In [157]:
df.High.ndim

1

In [158]:
df.size

1750

In [159]:
df.empty

False

Uma função importante no Pandas é `df.copy()` pois podemos fazer uma cópia do dataframe original e trabalharmos em cima da cópia para que não alteremos os dados originais.

In [160]:
df_copia = df.copy()
df_copia.head(3)

         Date       Open       High    Low      Close  Adj Close    Volume
0  2021-12-27  30.440001  31.230000  30.24  31.040001  19.029440  17868100
1  2021-12-28  31.260000  31.469999  31.00  31.059999  19.041702   8078000
2  2021-12-29  31.010000  31.340000  30.75  30.950001  18.974266  11460950

* ### Estatísticas descritivas dos dados

A principal parte da análise exploratória de dados é, como o próprio nome diz, a exploração dos dados. E nada melhor para isso do que as estatísticas descritivas, que são aquelas que nos contam como os dados estão distríbuidos e suas feições.

Nessa seção iremos destrinchar diversas funções do Pandas que serão de grande utilidade:


* `df.describe()`: retorna diversas informações estatísticas de cada coluna do dataframe como número de valores, média, desvio padrão, quartis e valores mínimos e máximos.
* `df.count()`: retorna o número de valores não ausentes de cada coluna
* `df.mean()`: retorna a média de cada coluna
* `df.std()`: retorna o desvio padrão de cada coluna
* `df.min()`: retorna o valor mínimo de cada coluna
* `df.max()`: retorna o valor máximo de cada coluna
* `df.median()`: retorna a mediana de cada coluna
* `df.mode()`: retorna a moda de cada coluna

In [161]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,250.000000,250.000000,250.000000,250.000000,250.000000,2.500000e+02
mean,33.771840,34.368800,33.176960,33.793360,25.496893,1.969298e+07
std,3.162086,3.160505,3.119615,3.144832,4.320477,9.174046e+06
min,23.799999,25.049999,23.610001,24.290001,18.747433,4.878800e+06
25%,31.469999,31.910000,30.959999,31.527500,22.016315,1.342418e+07
50%,34.370001,34.970000,33.784999,34.430000,24.288059,1.798265e+07
75%,36.107499,36.797500,35.355001,36.235002,29.050100,2.447918e+07
max,40.430000,42.080002,40.130001,41.560001,36.963558,6.977550e+07

In [162]:
df.select_dtypes(include = object).describe()

              Date
count          250
unique         250
top     2021-12-27
freq             1

In [163]:
df.count()

Date         250
Open         250
High         250
Low          250
Close        250
Adj Close    250
Volume       250
dtype: int64

In [164]:
df.mean()

<ipython-input-164-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Open         3.377184e+01
High         3.436880e+01
Low          3.317696e+01
Close        3.379336e+01
Adj Close    2.549689e+01
Volume       1.969298e+07
dtype: float64

In [165]:
df.std()

<ipython-input-165-ce97bb7eaef8>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Open         3.162086e+00
High         3.160505e+00
Low          3.119615e+00
Close        3.144832e+00
Adj Close    4.320477e+00
Volume       9.174046e+06
dtype: float64

In [166]:
df.min()

Date         2021-12-27
Open          23.799999
High          25.049999
Low           23.610001
Close         24.290001
Adj Close     18.747433
Volume          4878800
dtype: object

In [167]:
df.max()

Date         2022-12-23
Open              40.43
High          42.080002
Low           40.130001
Close         41.560001
Adj Close     36.963558
Volume         69775500
dtype: object

In [168]:
df.select_dtypes(exclude=[object]).median()

Open         3.437000e+01
High         3.497000e+01
Low          3.378500e+01
Close        3.443000e+01
Adj Close    2.428806e+01
Volume       1.798265e+07
dtype: float64

Aqui excluímos o tipo *object* para o Pandas lidar apenas com os valores numéricos.

In [169]:
df.select_dtypes(exclude=object).mode(axis='index')

     Open       High        Low      Close  Adj Close    Volume
0    36.0  35.000000  32.740002  30.700001  21.438774   4878800
1     NaN  35.150002        NaN  34.689999  21.457165   5781000
2     NaN        NaN        NaN        NaN  22.235756   5827800
3     NaN        NaN        NaN        NaN  24.823196   6224000
4     NaN        NaN        NaN        NaN  27.242392   6915000
..    ...        ...        ...        ...        ...       ...
245   NaN        NaN        NaN        NaN        NaN  48903800
246   NaN        NaN        NaN        NaN        NaN  49607100
247   NaN        NaN        NaN        NaN        NaN  52964400
248   NaN        NaN        NaN        NaN        NaN  55281200
249   NaN        NaN        NaN        NaN        NaN  69775500

[250 rows x 6 columns]

Na coluna *Volume* não há valores repetidos, portanto, todos são moda. E dessa forma, o Panda mostra a planilha com todas as modas de todas as colunas.

Outras funções:

* `df.corr()`: retorna a correlação entre todas variáveis dois-a-dois
* `df.cov()`: retorna a matriz de covariância entre as variáveis
* `df.clip(lower=None, upper=None)`: limita os valores com limitante inferior e/ou superior, substituindo pelos limitantes os valores que estiverem fora do intervalo
* `df.diff(periods=0, axis=0)`: retorna um df com a diferença entre as valores de uma linha e da linha anterior (padrão)
* `df.eval(exp, inplace=False)`: recebe uma expressão em string para fazer uma operação com as colunas
* `df.pct_change(periods=1)`: retorna um df com a mudança percentual de uma linha para a linha anterior
* `df.prod()`: retorna o produto de uma coluna
* `df.quantile(q=0.5, interpolation='linear')`: retorna o valor do quantil q especificado, a partir do método de interpolação (se necessário)
* `df.rank()`: ranqueia os valores das colunas
* `df.round()`: arredonda os valores com o número de casas decimais especificadas
* `df.var()`: retorna a variância de cada coluna
* `df.nunique()`: retorna o número de valores distintos de cada coluna
* `df.value_counts()`: retorna o valor de cada entrada, o número de aparições e ordena por ordem descendente de frequência

In [170]:
df.corr()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.988623  0.984565  0.969610   0.242420  0.021092
High       0.988623  1.000000  0.986291  0.987647   0.264558  0.051123
Low        0.984565  0.986291  1.000000  0.988828   0.242683 -0.039759
Close      0.969610  0.987647  0.988828  1.000000   0.258964  0.008493
Adj Close  0.242420  0.264558  0.242683  0.258964   1.000000  0.214571
Volume     0.021092  0.051123 -0.039759  0.008493   0.214571  1.000000

In [171]:
df.cov()

,Open,High,Low,Close,Adj Close,Volume
Open,9.998785,9.880085e+00,9.712232e+00,9.642023,3.311880e+00,6.118513e+05
High,9.880085,9.988790e+00,9.724390e+00,9.816473,3.612510e+00,1.482278e+06
Low,9.712232,9.724390e+00,9.731999e+00,9.701062,3.270935e+00,-1.137880e+06
Close,9.642023,9.816473e+00,9.701062e+00,9.889970,3.518585e+00,2.450178e+05
Adj Close,3.311880,3.612510e+00,3.270935e+00,3.518585,1.866652e+01,8.504794e+06
Volume,611851.282095,1.482278e+06,-1.137880e+06,245017.780567,8.504794e+06,8.416312e+13

In [172]:
df.Volume.clip(50000000, 60000000)

0      50000000
1      50000000
2      50000000
3      50000000
4      50000000
         ...
245    50000000
246    50000000
247    50000000
248    50000000
249    50000000
Name: Volume, Length: 250, dtype: int64

In [173]:
df.select_dtypes(exclude=object).diff()

         Open      High       Low     Close  Adj Close      Volume
0         NaN       NaN       NaN       NaN        NaN         NaN
1    0.819999  0.239999  0.760000  0.019998   0.012262  -9790100.0
2   -0.250000 -0.129999 -0.250000 -0.109998  -0.067436   3382950.0
3   -0.059999 -0.210001 -0.200001 -0.250000  -0.153265  22696050.0
4   -0.110001  0.540001  0.210001  0.819999   0.502710 -18578500.0
..        ...       ...       ...       ...        ...         ...
245  0.039999  0.590000  0.370001  0.569999   0.569999 -15159700.0
246  0.630001  0.700001  0.729999  0.620001   0.620001   2586000.0
247  1.029998  0.520001  0.490000  0.690001   0.690001   5397000.0
248  0.540001  0.859998  0.770000  0.309999   0.309999  -6807700.0
249  0.289999  0.880001  0.640000  1.389999   1.389999  -1648500.0

[250 rows x 6 columns]

In [174]:
df.eval('Diferença = High - Low')

,Date,Open,High,Low,Close,Adj Close,Volume,Diferença
0,2021-12-27,30.440001,31.230000,30.240000,31.040001,19.029440,17868100,0.990000
1,2021-12-28,31.260000,31.469999,31.000000,31.059999,19.041702,8078000,0.469999
2,2021-12-29,31.010000,31.340000,30.750000,30.950001,18.974266,11460950,0.590000
3,2021-12-30,30.950001,31.129999,30.549999,30.700001,18.821001,34157000,0.580000
4,2022-01-03,30.840000,31.670000,30.760000,31.520000,19.323711,15578500,0.910000
...,...,...,...,...,...,...,...,...
245,2022-12-19,24.900000,25.639999,24.690001,25.549999,25.549999,12963900,0.949998
246,2022-12-20,25.530001,26.340000,25.420000,26.170000,26.170000,15549900,0.920000
247,2022-12-21,26.559999,26.860001,25.910000,26.860001,26.860001,20946900,0.950001
248,2022-12-22,27.100000,27.719999,26.680000,27.170000,27.170000,14139200,1.039999
249,2022-12-23,27.389999,28.600000,27.320000,28.559999,28.559999,12490700,1.280000

In [175]:
df.eval('High - Low')

0      0.990000
1      0.469999
2      0.590000
3      0.580000
4      0.910000
         ...
245    0.949998
246    0.920000
247    0.950001
248    1.039999
249    1.280000
Length: 250, dtype: float64

In [176]:
df.select_dtypes(exclude=object).pct_change()

         Open      High       Low     Close  Adj Close    Volume
0         NaN       NaN       NaN       NaN        NaN       NaN
1    0.026938  0.007685  0.025132  0.000644   0.000644 -0.547909
2   -0.007997 -0.004131 -0.008065 -0.003541  -0.003541  0.418786
3   -0.001935 -0.006701 -0.006504 -0.008078  -0.008078  1.980294
4   -0.003554  0.017347  0.006874  0.026710   0.026710 -0.543915
..        ...       ...       ...       ...        ...       ...
245  0.001609  0.023553  0.015214  0.022818   0.022818 -0.539038
246  0.025301  0.027301  0.029567  0.024266   0.024266  0.199477
247  0.040345  0.019742  0.019276  0.026366   0.026366  0.347076
248  0.020331  0.032018  0.029718  0.011541   0.011541 -0.324998
249  0.010701  0.031746  0.023988  0.051159   0.051159 -0.116591

[250 rows x 6 columns]

In [177]:
df.prod(numeric_only=True)

/usr/local/lib/python3.8/dist-packages/numpy/core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_prod(a, axis, dtype, out, keepdims, initial, where)

Open         inf
High         inf
Low          inf
Close        inf
Adj Close    inf
Volume       0.0
dtype: float64

In [178]:
df.quantile([0, 0.1, 0.25, 0.5, 0.75, 0.9, 1], numeric_only=True)

           Open       High        Low      Close  Adj Close      Volume
0.00  23.799999  25.049999  23.610001  24.290001  18.747433   4878800.0
0.10  29.509000  30.385999  29.014000  29.684001  21.131018  10529650.0
0.25  31.469999  31.910000  30.959999  31.527500  22.016315  13424175.0
0.50  34.370001  34.970000  33.784999  34.430000  24.288059  17982650.0
0.75  36.107499  36.797500  35.355001  36.235002  29.050100  24479175.0
0.90  37.400002  37.811001  36.600998  37.220001  32.311985  30529430.0
1.00  40.430000  42.080002  40.130001  41.560001  36.963558  69775500.0

In [179]:
df.rank()

      Date  Open  High   Low  Close  Adj Close  Volume
0      1.0  37.0  45.0  44.0   55.0        7.0   125.0
1      2.0  60.0  55.0  65.0   56.0        8.0    11.0
2      3.0  53.0  49.0  60.0   53.0        6.0    37.0
3      4.0  51.0  41.0  52.0   46.0        3.0   235.0
4      5.0  48.0  58.0  61.0   63.0        9.0    97.0
..     ...   ...   ...   ...    ...        ...     ...
245  246.0   3.0   3.0   4.0    4.0      148.0    58.0
246  247.0   4.0   4.0   5.0    5.0      153.0    96.0
247  248.0   6.0   6.0   7.0    6.0      158.0   161.0
248  249.0   9.5  10.0  10.0   10.0      166.0    75.0
249  250.0  12.0  15.0  15.0   17.0      182.0    55.0

[250 rows x 7 columns]

In [180]:
df.round(3)

           Date   Open   High    Low  Close  Adj Close    Volume
0    2021-12-27  30.44  31.23  30.24  31.04     19.029  17868100
1    2021-12-28  31.26  31.47  31.00  31.06     19.042   8078000
2    2021-12-29  31.01  31.34  30.75  30.95     18.974  11460950
3    2021-12-30  30.95  31.13  30.55  30.70     18.821  34157000
4    2022-01-03  30.84  31.67  30.76  31.52     19.324  15578500
..          ...    ...    ...    ...    ...        ...       ...
245  2022-12-19  24.90  25.64  24.69  25.55     25.550  12963900
246  2022-12-20  25.53  26.34  25.42  26.17     26.170  15549900
247  2022-12-21  26.56  26.86  25.91  26.86     26.860  20946900
248  2022-12-22  27.10  27.72  26.68  27.17     27.170  14139200
249  2022-12-23  27.39  28.60  27.32  28.56     28.560  12490700

[250 rows x 7 columns]

In [181]:
df.var()

<ipython-input-181-28ded241fd7c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

Open         9.998785e+00
High         9.988790e+00
Low          9.731999e+00
Close        9.889970e+00
Adj Close    1.866652e+01
Volume       8.416312e+13
dtype: float64

In [182]:
df.nunique()

Date         250
Open         217
High         228
Low          226
Close        222
Adj Close    242
Volume       250
dtype: int64

In [183]:
df.High.value_counts()

35.000000    4
35.150002    4
37.730000    2
34.619999    2
37.459999    2
            ..
36.860001    1
36.750000    1
37.189999    1
37.880001    1
28.600000    1
Name: High, Length: 228, dtype: int64

In [184]:
df.Volume.value_counts()

17868100    1
36015200    1
52964400    1
29426900    1
12902900    1
           ..
24557500    1
17397400    1
25131000    1
17456300    1
12490700    1
Name: Volume, Length: 250, dtype: int64

In [185]:
df.Open.value_counts()

36.000000    4
32.910000    3
33.110001    3
34.000000    3
34.810001    3
            ..
36.520000    1
36.720001    1
36.740002    1
38.000000    1
27.389999    1
Name: Open, Length: 217, dtype: int64

* ### Seleção e indexação dos dados

Podemos selecionar de diversas formas um subconjuto da base de dados. Em boa parte dos casos vamos querer selecionar apenas uma coluna.

Assim temos para a coluna "High":

In [186]:
df['High'].head()

0    31.230000
1    31.469999
2    31.340000
3    31.129999
4    31.670000
Name: High, dtype: float64

Podemos alterar algumas configurações do Pandas, por exemplo, na parte de visualização. Utilizamos a função `pd.set_option` para isto e vamos configurar para que mostre todas as linhas do dataframe a partir do parâmetro `display.max_rows`. 

Parar voltar a configuração padrão utilizamos a função `pd.reset_option`. E para saber quais são as configurações atuais utilizamos `pd.get_option`.

In [187]:
pd.set_option("display.max_rows", None) # ou pd.set_option(max_rows, None)
df['High']

0      31.230000
1      31.469999
2      31.340000
3      31.129999
4      31.670000
5      32.189999
6      32.060001
7      31.430000
8      30.990000
9      31.059999
10     32.090000
11     33.250000
12     34.450001
13     34.740002
14     34.939999
15     34.930000
16     35.150002
17     34.840000
18     34.820000
19     35.080002
20     36.020000
21     37.400002
22     37.660000
23     37.799999
24     36.169998
25     36.459999
26     36.619999
27     35.480000
28     36.580002
29     35.950001
30     35.299999
31     35.900002
32     36.099998
33     37.259998
34     37.389999
35     36.049999
36     37.060001
37     36.580002
38     36.180000
39     37.080002
40     37.639999
41     36.799999
42     37.650002
43     36.480000
44     38.080002
45     37.889999
46     37.599998
47     37.500000
48     35.540001
49     35.119999
50     36.560001
51     36.130001
52     35.150002
53     34.009998
54     34.090000
55     34.320000
56     33.549999
57     34.540001
58     34.619999
59     35.040001
60     35.160000
61     35.320000
62     34.770000
63     34.919998
64     35.200001
65     35.580002
66     35.779999
67     35.000000
68     35.490002
69     35.360001
70     36.770000
71     37.250000
72     36.910000
73     37.360001
74     37.730000
75     35.150002
76     34.840000
77     35.070000
78     35.180000
79     34.700001
80     33.480000
81     33.770000
82     33.740002
83     33.799999
84     35.000000
85     33.599998
86     33.419998
87     34.619999
88     35.000000
89     35.889999
90     35.520000
91     35.000000
92     36.860001
93     36.750000
94     37.189999
95     37.880001
96     38.040001
97     38.040001
98     37.400002
99     37.889999
100    39.279999
101    34.810001
102    35.290001
103    35.599998
104    35.150002
105    34.000000
106    33.759998
107    33.520000
108    33.320000
109    33.910000
110    34.110001
111    34.630001
112    34.230000
113    33.880001
114    33.160000
115    32.790001
116    33.290001
117    33.180000
118    31.410000
119    30.680000
120    30.770000
121    30.320000
122    30.200001
123    29.670000
124    31.040001
125    31.850000
126    31.900000
127    30.750000
128    31.410000
129    32.130001
130    31.500000
131    30.820000
132    31.209999
133    31.590000
134    31.299999
135    30.990000
136    31.010000
137    30.350000
138    30.440001
139    31.400000
140    31.809999
141    31.940001
142    31.889999
143    32.110001
144    33.410000
145    34.209999
146    34.070000
147    35.139999
148    37.380001
149    36.959999
150    37.209999
151    37.009998
152    37.049999
153    37.700001
154    39.400002
155    40.099998
156    40.250000
157    40.509998
158    34.900002
159    35.270000
160    35.389999
161    36.380001
162    37.230000
163    36.549999
164    36.110001
165    37.320000
166    37.930000
167    38.299999
168    37.459999
169    38.759998
170    37.820000
171    37.459999
172    37.900002
173    38.709999
174    37.959999
175    36.470001
176    36.540001
177    36.450001
178    36.500000
179    35.310001
180    35.189999
181    34.880001
182    34.580002
183    35.029999
184    35.380001
185    35.279999
186    35.560001
187    34.810001
188    33.209999
189    33.060001
190    33.000000
191    32.880001
192    33.700001
193    36.200001
194    36.820000
195    36.790001
196    37.730000
197    38.410000
198    37.810001
199    37.279999
200    38.520000
201    37.919998
202    37.599998
203    37.740002
204    39.279999
205    40.290001
206    42.080002
207    40.619999
208    37.720001
209    36.930000
210    36.880001
211    36.220001
212    34.639999
213    33.900002
214    33.849998
215    34.330002
216    31.900000
217    30.900000
218    31.180000
219    30.240000
220    31.160000
221    32.020000
222    31.980000
223    31.290001
224    31.389999
225    31.290001
226    27.059999
227    27.410000
228    28.410000
229    28.080000
230    28.370001
231    29.959999
232    30.480000
233    30.549999
234    30.450001
235    30.389999
236    30.000000
237    29.590000
238    29.309999
239    28.709999
240    28.080000
241    27.709999
242    26.360001
243    25.440001
244    25.049999
245    25.639999
246    26.340000
247    26.860001
248    27.719999
249    28.600000
Name: High, dtype: float64

In [188]:
pd.reset_option("display.max_rows")

In [189]:
df[['Open', 'Close']]

          Open      Close
0    30.440001  31.040001
1    31.260000  31.059999
2    31.010000  30.950001
3    30.950001  30.700001
4    30.840000  31.520000
..         ...        ...
245  24.900000  25.549999
246  25.530001  26.170000
247  26.559999  26.860001
248  27.100000  27.170000
249  27.389999  28.559999

[250 rows x 2 columns]

Funções que usamos para selecionar subconjuntos dos dados:

* `df.iloc()`: retorna os elementos ou as linhas especificadas pelo argumento (numérico)
* `df.loc()`: retorna os elementos conforme especificado no argumento (string) 
* `df.isin()`: verifica se os valores do datefram está contido no argumento
* `df.where()`:
* `df.mask()`:
* `df.at()`:
* `df.iat()`:
* `df.insert()`:
* `df.loc()`:

In [200]:
# retorna a linha i (4) como series
df.iloc[4]

Date         2022-01-03
Open              30.84
High              31.67
Low               30.76
Close             31.52
Adj Close     19.323711
Volume         15578500
Name: 4, dtype: object

In [201]:
# retorna a linha i como dataframe
df.iloc[[4]]

         Date   Open   High    Low  Close  Adj Close    Volume
4  2022-01-03  30.84  31.67  30.76  31.52  19.323711  15578500

In [202]:
# retorna o elemento i,j (4,0)
df.iloc[4,0]

'2022-01-03'

In [203]:
# retorna as linhas 4 e 0 como dataframe
df.iloc[[4,0]]

         Date       Open   High    Low      Close  Adj Close    Volume
4  2022-01-03  30.840000  31.67  30.76  31.520000  19.323711  15578500
0  2021-12-27  30.440001  31.23  30.24  31.040001  19.029440  17868100

In [205]:
# retorna as linhas dos índices extremos
df.iloc[2:6]

         Date       Open       High        Low      Close  Adj Close    Volume
2  2021-12-29  31.010000  31.340000  30.750000  30.950001  18.974266  11460950
3  2021-12-30  30.950001  31.129999  30.549999  30.700001  18.821001  34157000
4  2022-01-03  30.840000  31.670000  30.760000  31.520000  19.323711  15578500
5  2022-01-04  31.570000  32.189999  31.280001  31.920000  19.568937  17337100

In [206]:
# retorna as linhas de 1 a 3 e as colunas de 0 a 2
df.iloc[1:3, 0:2]

         Date   Open
1  2021-12-28  31.26
2  2021-12-29  31.01

In [211]:
# retorna a linha 4 pois é o label da quarta linha
df.loc[4]

Date         2022-01-03
Open              30.84
High              31.67
Low               30.76
Close             31.52
Adj Close     19.323711
Volume         15578500
Name: 4, dtype: object